@page "/add-title/create"
@page "/add-title/edit/{Id:int}"
@using LibrarySystem.Models
@using LibrarySystem.Bussines.Repos.IRepository
@using LibrarySystems.Service.IService
@inject ITitleRepository TitleRepository
@inject IImagesRepository ImagesRepository
@inject NavigationManager NavigationManager
@inject IFileUpload FileUpload

<div class="row mt-2 mb-5">
    <h3 class="card-title text-info mb-3 ml-3">@Create Book</h3>
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <EditForm Model="@TitleModel" OnValidSubmit="HandleLibraryBookUpsert">
                    <DataAnnotationsValidator />
                    <div class="form-group">
                        <label>Name</label>
                        <InputText @bind-Value="TitleModel.Name" class="form-control"></InputText>
                        <ValidationMessage For="() => TitleModel.Name"></ValidationMessage>
                    </div>
                    <div class="form-group">
                        <InputFile OnChange="HandleImageUpload" multiple></InputFile>
                        <div class="row">
                            @if (IsImageUploadProcessStarted)
                            {
                                <div class="col-md-12">
                                    <span><i class="fa fa-spin fa-spinner"></i>Please wait...Images are uploading...</span>
                                </div>
                            }
                            @if (TitleModel.ImageUrls != null && TitleModel.ImageUrls.Count > 0)
                            {
                                int serial = 1;
                                foreach (var bookImage in TitleModel.ImageUrls)
                                {
                                    <div class="col-md-2 mt-3">
                                        <div class="book-image" style="background: url('@bookImage') 50% 50%;">
                                            <span class="book-image-title">@serial</span>
                                        </div>
                                        <button type="button" @onclick="()=>DeletePhoto(bookImage)" class="btn btn-outline-danger btn-block mt-4">Delete</button>
                                    </div>
                                    serial++;
                                }
                            }
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <InputText @bind-Value="TitleModel.Description" class="form-control"></InputText>
                        <ValidationMessage For="() => TitleModel.Description"></ValidationMessage>
                    </div>
                    <div class="form-group">
                        <label>Writer</label>
                        <InputText @bind-Value="TitleModel.Writer" class="form-control"></InputText>
                        <ValidationMessage For="() => TitleModel.Writer"></ValidationMessage>
                    </div>
                    <div class="form-group">
                        <label>ReleasedYear</label>
                        <InputNumber @bind-Value="TitleModel.ReleaseYear" class="form-control"></InputNumber>
                        <ValidationMessage For="() => TitleModel.ReleaseYear"></ValidationMessage>
                    </div>
                    <div class="form-group">
                        <label>ISBN</label>
                        <InputNumber @bind-Value="TitleModel.Isbn" class="form-control"></InputNumber>
                        <ValidationMessage For="() => TitleModel.Isbn"></ValidationMessage>
                    </div>
                    <div class="form-group">
                        <label>Type</label>
                        <InputText @bind-Value="TitleModel.Type" class="form-control"></InputText>
                        <ValidationMessage For="() => TitleModel.Type"></ValidationMessage>
                    </div>
                    <div class="form-group">
                        <label>Publisher</label>
                        <InputText @bind-Value="TitleModel.Publisher" class="form-control"></InputText>
                        <ValidationMessage For="() => TitleModel.Publisher"></ValidationMessage>
                    </div>
                    <div class="form-group">
                        <label>Section</label>
                        <InputText @bind-Value="TitleModel.Section" class="form-control"></InputText>
                        <ValidationMessage For="() => TitleModel.Section"></ValidationMessage>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary">@Create Book</button>
                        <NavLink href="add-title" class="btn btn-secondary">Back to Index</NavLink>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
</div>
<style>
    .alert {
        padding: 20px;
        background-color: #f44336;
        color: white;
    }

    .closebtn {
        margin-left: 15px;
        color: white;
        font-weight: bold;
        float: right;
        font-size: 22px;
        line-height: 20px;
        cursor: pointer;
        transition: 0.3s;
    }

        .closebtn:hover {
            color: black;
        }
</style>
<div class="alert">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    An error occurred.
</div>
@code {

}