@page "/taken-book"
@attribute [Authorize]

<h3>RegisterBookTake</h3>

<div class="row mt-4">
    <div class="col-12">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Time Taken</th>
                    <th>Return Date</th>
                    <th>Reader</th>
                    <th>Condition</th>
                    <th>Book Name</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
@code {

}
